.dark-nav {
	height: 8vh;
	background: linear-gradient(#0e033b, #1d2e66);
	padding: 0 30px;
}

.dark {
	background: linear-gradient(#0e033b, #080124);
	height: 92vh;
}

.dark-btn {
	background: #294d87;
	border: 0;
	color: #7f9ac7;
	text-shadow: 1px 1px #6a7c99;
}

.nav-elem {
	margin: 0 5px;
	width: 80px;
	height: 100%;
}